@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background2: #ffffff;
  --foreground: #171717;
  --tint-up: #22C55E;
  --tint-down: #EF4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b;
    --background2: #18181b;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
