@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.MarketCardList {
  display: flex;
  width: 100%;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.MarketCard {
  border: 1px solid white;
  aspect-ratio: 1;
  flex-basis: 250px;
}
